body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    padding-top: 400px;
    color: white;
}

p {
    color: white;
    text-align: center;
    font-size: 22px;
    justify-content: space-around;
}

a {
    background-color: brown;
    padding: 15px 40px;
    border-radius: 10px;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    text-decoration: none;

}

.btn {
    text-align: center;
}

.hero-section {
    height: 1040px;
    background-image: linear-gradient(to right, rgba(37, 39, 40, 0.7), rgba(21, 21, 24, 0.7)), url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}


.second-section {
    height: auto;
}

h2 {
    color: black;
    font-size: 46px;
    text-align: center;
}

h6 {
    color: black;
    font-size: 22px;
    text-align: center;
}

.flex-container {
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
}

.width-10 {
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0px 5px;

    background-color: rgba(63, 52, 52, 0.229);
}

.bg-2 {
    background-color: coral;
    border: 2px solid black;
}

input {
    margin-top: 60px;
    margin-bottom: 40px;
    border-top: 5px;
    border-right: 5px;
    border-left: 5px;
    font-size: 40px;
    text-align: center;
}

.third {
    margin-top: 10%;
}

.flex-container1 {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.plan-p {
    color: black;
}

.width-33 {
    width: 30%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 35px;
    margin-right: 35px;
    border: 2px solid none;
    border-radius: 15px;
}

.text {
    color: rgb(97, 95, 93);
}

.illustrator {
    width: 20%;
    padding-top: 10px;
}

#bg-1 {
    background-color: #ff99c2;
}

#bg-2 {
    background-color: #ccf5ff;
}

#bg-3 {
    background-color: #99ff99;
}

.mission {
    text-align: center;
}

.special {
    width: 100%;
}

.special-heading {
    font-size: 45px;
    text-align: center;
}

.tour {
    width: 50%;
    text-align: center;
    background-color: skyblue;
    border: 50px solid rgb(255, 103, 1);
    border-radius: 15px;
    margin: 5% 20%;
    padding: 25px 30px;
}

form {
    text-align: center;


}

form input {
    border: 5px splid black;

}

.form {
    background-color: aqua;
    padding-top: 20px;
}

.update-btn {
    border: 15px splid black;
    font-size: 36px;
    background-color: crimson;
    margin-left: -5px;
}








footer {
    background-color: black;

}

footer h4 {
    color: white;
    text-align: center;
    padding-bottom: 20px;

}